<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, deleniti soluta, ducimus animi quibusdam adipisci voluptatem esse officiis iste rem minima perferendis ipsa dolor ea assumenda ab asperiores quasi in atque? Ratione corporis eveniet, architecto alias culpa excepturi esse quo.</p>
  </div>
</div>