<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nostrum impedit exercitationem quos ipsam amet, tenetur, labore adipisci excepturi incidunt iste laudantium modi vel similique nisi velit perspiciatis aliquid? Ipsa.</p>
  <a href="https://github.com/KevinHe23" class="btn btn-primary btn-lg">Mi Github</a>
</div>